body {
    background-color: #E5F5F5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

h2 {
    color: #00AFAD;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    color: #235A70;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 20px;
}

label {
    color: #235A70;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
}

button[type="submit"] {
    background-color: #F5BA2F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: calc(50% - 40px);
    margin-top: 20px;
}

