body {
    font-family: Arial, sans-serif;
    background-color: #E5F5F5; /* Background color for the entire page */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #FFFFFF; /* White background for the form */
    padding: 30px; /* Padding inside the form */
    margin: 20px auto; /* Margin for top and bottom, auto for horizontal centering */
    border-radius: 8px; /* Rounded corners for the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for 3D effect */
    width: 80%; /* Adjust width to be more responsive */
    max-width: 800px; /* Increased maximum width for larger displays */
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

h2 {
    text-align: center;
    color: #00AFAD; /* Color for the header text */
    margin-bottom: 20px; /* Space below the header */
}

label {
    color: #235A70; /* Color for the text labels */
    display: block; /* Display block for better control over styling */
    margin-bottom: 5px; /* Space below each label */
}

input[type="text"], input[type="password"], select {
    width: 100%; /* Full width to fit container */
    padding: 10px; /* Padding for input fields */
    border: 2px solid #D0D0D0; /* Border color and thickness */
    border-radius: 4px; /* Rounded corners for the input fields */
    background-color: #FFFFFF; /* Background color for input fields */
}

input[type="submit"] {
    background-color: #F5BA2F; /* Background color for the submit button */
    color: white; /* Text color for the submit button */
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%; /* Full width for the submit button */
}

input[type="submit"]:hover {
    background-color: #e0a825; /* Darker background on hover for the submit button */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1024px) {
    form {
        max-width: 600px; /* Adjust maximum width for medium screens */
    }
}

@media (max-width: 768px) {
    form {
        width: 96%; /* Adjust form width for small screens */
        padding: 20px; /* Adjust padding for smaller forms */
        max-width: 500px; /* Adjust maximum width for small screens */
    }
}