/* Set the font family and background color for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #E5F5F5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the form */
form {
    background-color: #FFFFFF;
    padding: 40px; /* Increase padding for the form */
    border-radius: 10px;
    max-width: 800px; /* Increase max width for the form */
    margin: 20px auto; /* Add margin for the form */
}

/* Style for the heading */
h2 {
    color: #00AFAD;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0; /* Remove bottom margin for the heading */
}

/* Style for labels */
label {
    color: #235A70; /* Text color for labels */
    display: block; /* Display block for better control over styling */
    margin-bottom: 10px; /* Add bottom margin for labels */
}

/* Style for required labels */
.required {
    color: red;
}

/* Style for input fields and select dropdown */
input[type="text"],
input[type="password"],
select {
    border: 1px solid #D0D0D0;
    padding: 8px;
    margin-bottom: 20px; /* Increase bottom margin for input fields */
    width: 100%;
    box-sizing: border-box;
}

/* Style for submit button */
input[type="submit"] {
    background-color: #F5BA2F;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: calc(50% - 40px);
    margin: 20px auto 0;
    display: block;
}

/* Media query for smaller screens */
@media screen and (max-width: 480px) {
    /* Reduce font size for heading */
    h2 {
        font-size: 24px;
    }

    /* Center align heading */
    h2 {
        text-align: center;
    }

    /* Separate "Movement!" to a new line */
    h2:after {
        content: '\A Movement!';
        white-space: pre;
        display: block;
    }

    /* Add space between input fields and select dropdown */
    input[type="text"],
    input[type="password"],
    select {
        margin-bottom: 15px;
    }
}
