/* nav.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
}

.menu-container {
    display: flex;
    align-items: center;
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 15px; /* Adjust padding to reduce excessive width */
    margin-right: 10px; /* Optional: for space between menu and the next element */
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    position: absolute;
    top: 60px; /* Adjusted to the height of the navbar */
    left: 0; /* Start from the left edge of the viewport */
    display: none;
    width: auto; /* Adjust width to fit content */
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

.nav-list li {
    white-space: nowrap; /* Ensure the text does not wrap */
    padding: 12px 20px; /* Adjust padding to fit content */
}

.nav-list li a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-list li a:hover {
    background-color: #555;
}

.navbar-center, .navbar-right {
    flex: 0 1 auto;
}

.navbar-center img, .navbar-right img {
    max-height: 100%;
    padding: 10px;
}