/* nav.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navbar-logo {
    max-height: 40px; /* Adjust logo height */
}

.menu-container {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-list li {
    white-space: nowrap;
    padding: 12px 20px;
    position: relative;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-list li a:hover {
    background-color: #555;
}

.hamburger {
    cursor: pointer;
}

.beaches-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px; /* Adjust based on the height of the navbar */
    left: 0;
    background-color: #444;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
    width: 200px; /* Adjust as needed */
}

.beaches-menu li {
    padding: 12px 20px;
}

.beaches-menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.beaches-menu li a:hover {
    background-color: #555;
}

.user-icon {
    max-height: 40px; /* Adjust user icon image height */
    cursor: pointer;
}

.user-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px; /* Adjust based on the height of the navbar */
    right: 0;
    background-color: #444;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
    width: auto; /* Adjust as needed */
}

.user-menu li {
    padding: 12px 20px;
}

.user-menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.user-menu li a:hover {
    background-color: #555;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .nav-list {
        position: absolute;
        top: 60px;
        right: 0;
        display: none;
        flex-direction: column;
        background-color: #444;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .nav-list.show {
        display: flex;
    }

    body {
        padding-top: 60px;
    }
}