body {
    background-color: #E5F5F5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    background-color: #FFFFFF;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    color: #00AFAD;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.input-with-icon {
    display: flex;
    align-items: center;
    max-width: 100%; /* Ensure it fits within the container */
    margin: 0 auto; /* Center the search bar */
}

.input-container {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}

.input-container input[type="text"] {
    width: 100%; /* Full width within the max-width constraint */
    padding: 10px;
    padding-right: 40px;  /* Adjust padding to accommodate the icon */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.input-container .search-icon {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

select {
    margin-left: 10px; /* Space between the input field and select */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#searchResults {
    margin-top: 20px; /* Add some space above the search results */
}

.result-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-box img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.result-box .info {
    display: flex;
    flex-direction: column;
}

.result-box .info h3 {
    margin: 0;
    font-size: 1.2em;
}

.result-box .info p {
    margin: 5px 0;
}

.result-box .info .type {
    display: flex;
    align-items: center;
}

.result-box .info .type img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
