<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask App</title>
    <!-- Bootstrap CDN for Styling Flash Messages -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include the global stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <!-- Include the navigation stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <!-- Include the alert stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='alert.css') }}">
    <!-- Conditionally include the signup and login stylesheets -->
    {% if request.endpoint == 'signup' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    {% endif %}
    {% if request.endpoint == 'login' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    {% endif %}
    <!-- Include forgot_password.css conditionally -->
    {% if request.endpoint == 'forgot_password' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='forgot_password.css') }}">
    {% endif %}
</head>
<body>
    {% include 'nav.html' %}
    {% include 'alert.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
