{% extends 'base.html' %}

{% block content %}
<div class="hero-section">
    <img src="{{ url_for('static', filename='images/main1.jpg') }}" alt="Background Image" class="background-image">
    <div class="content">
        <h1 class="hero-heading">PickUp3 is an easy, fun way for each of us to help protect marine life and ocean health.</h1>
        <button class="join-button">Join the Movement</button>
    </div>
</div>
<section class="pickup3-section">
    <h1 class="pickup3-heading">PickUp3. <span class="simple-action">Simple action.</span> <span class="instant-impact">Instant impact.</span></h1>
    <p class="intro-text">
        When we hear the ocean is in trouble it’s easy to feel overwhelmed. If you want to take action but don’t know where to start, PickUp3 is your answer.
    </p>
    <p class="description">
        PickUp3 is a growing movement driven by communities that care. These communities want to remove plastic and other waste from our beaches, educate on the importance of ocean health and inspire people to take action and care for their oceans.
    </p>
</section>

<section class="challenge-section">
    <h2 class="challenge-heading">The PickUp3 Challenge is simple:</h2>
    <div class="challenge-steps">
        <div class="challenge-step step-1">
            <img src="{{ url_for('static', filename='images/challenge1.png') }}" alt="Step 1" class="challenge-image">
            <h3>1</h3>
            <p>Visit a local community beach</p>
            <a href="#" class="learn-more">LEARN MORE »</a>
        </div>
        <div class="challenge-step step-2">
            <img src="{{ url_for('static', filename='images/challenge2.png') }}" alt="Step 2" class="challenge-image">
            <h3>2</h3>
            <p>Pick up at least 3 pieces of garbage</p>
            <a href="#" class="learn-more">LEARN MORE »</a>
        </div>
        <div class="challenge-step step-3">
            <img src="{{ url_for('static', filename='images/challenge3.png') }}" alt="Step 3" class="challenge-image">
            <h3>3</h3>
            <p>Scan & record your trash count online</p>
            <a href="#" class="learn-more">LEARN HOW »</a>
        </div>
    </div>
</section>

<section class="social-media-section">
    <h2>Have fun & challenge others!</h2>
    <div class="social-media-buttons">
        <a href="https://www.facebook.com/pickup3canada" target="_blank">
            <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook" class="social-icon">
        </a>
        <a href="https://twitter.com/PickUP3Canada" target="_blank">
            <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter" class="social-icon">
        </a>
        <a href="https://www.instagram.com/pickup3canada/" target="_blank">
            <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram" class="social-icon">
        </a>
    </div>
</section>

{% endblock %}
