{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trash Collection Leaderboard</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='leaderboards.css') }}">
    <style></style>
</head>
<body>
    <div class="container">
        <h1>Trash Collection Leaderboard</h1>
        <div class="nav-links">
            <a href="/leaderboard/total">Total</a>
            <a href="/leaderboard/individual">Individual</a>
            <a href="/leaderboard/school">School</a>
            <a href="/leaderboard/company">Company</a>
        </div>
        <h2>Account Type: {{ account_type }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Trash Collected</th>
                </tr>
            </thead>
            <tbody>
                {% for rank, user in leaderboard %}
                <tr>
                    <td>{{ rank }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.trash_collected }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>


{% endblock %}
