<!-- nav.html -->
<header>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Icon">
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
        </ul>
    </nav>
</header>
