<!-- nav.html -->
<header>
    <nav class="navbar">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="navbar-logo">
        </div>
        <div class="menu-container">
            <ul id="navList" class="nav-list">
                <li class="hamburger-container">
                    <a href="#" class="hamburger" onclick="toggleBeachesMenu()">Beaches ▼</a>
                    <ul id="beachesMenu" class="beaches-menu hidden">
                        <li><a href="#">Delta</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('allocate_trash') }}">Trash Meter</a></li> <!-- 올바른 엔드포인트로 수정 -->
                <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
            <img src="{{ url_for('static', filename='images/user_icon.png') }}" alt="Menu" class="user-icon" onclick="toggleUserMenu()">
        </div>
        <ul id="userMenu" class="user-menu hidden">
            {% if 'user_id' in session %}
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('allocate_trash') }}">Trash Meter</a></li>
                <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<script src="{{ url_for('static', filename='js/nav.js') }}"></script>
