{% extends 'base.html' %}

{% block content %}
    <h2 id="searchTitle">Search</h2>
    <form id="searchForm" class="input-with-icon">
        <input type="text" id="searchQuery" name="searchQuery" placeholder="Enter search term">
        <img src="{{ url_for('static', filename='images/search_icon.png') }}" alt="Search Icon" class="search-icon" onclick="performSearch()">
    </form>
    <div id="searchResults"></div>
    <button id="addButton" onclick="redirectToCreate()">Add it!</button>
{% endblock %}