{% extends 'base.html' %}

{% block content %}
    <div class="search-container">
        <h2 id="searchTitle">Search</h2>
        <form id="searchForm" class="input-with-icon" method="get" action="{{ url_for('search') }}">
            <div class="input-container">
                <input type="text" id="searchQuery" name="searchQuery" placeholder="Enter search term" value="{{ query }}">
                <img src="{{ url_for('static', filename='images/search_icon.png') }}" alt="Search Icon" class="search-icon" onclick="document.getElementById('searchForm').submit()">
            </div>
            <select name="type">
                <option value="" {% if org_type == '' %}selected{% endif %}>All</option>
                <option value="school" {% if org_type == 'school' %}selected{% endif %}>School</option>
                <option value="company" {% if org_type == 'company' %}selected{% endif %}>Company</option>
                <option value="volunteer" {% if org_type == 'volunteer' %}selected{% endif %}>Volunteer</option>
            </select>

            <!-- Include hidden fields for the current form data -->
            <input type="hidden" name="username" value="{{ request.args.get('username', '') }}">
            <input type="hidden" name="email" value="{{ request.args.get('email', '') }}">
            <input type="hidden" name="first_name" value="{{ request.args.get('first_name', '') }}">
            <input type="hidden" name="last_name" value="{{ request.args.get('last_name', '') }}">
            <input type="hidden" name="password" value="{{ request.args.get('password', '') }}">
            <input type="hidden" name="account_type" value="{{ request.args.get('account_type', 'individual') }}">
        </form>
        <div id="searchResults">
            {% if results %}
                <ul>
                    {% for org in results %}
                        <li>
                            <a href="{{ url_for('signup', org_name=org.name, username=request.args.get('username', ''), email=request.args.get('email', ''), first_name=request.args.get('first_name', ''), last_name=request.args.get('last_name', ''), password=request.args.get('password', ''), account_type=request.args.get('account_type', 'individual')) }}">
                                <strong>{{ org.name }}</strong>
                            </a><br>
                            <img src="{{ url_for('organization_image', organization_id=org.id) }}" alt="{{ org.name }} Image" style="max-width: 100px; max-height: 100px;" onerror="this.onerror=null;this.src='{{ url_for('static', filename='images/user_icon.png') }}';"><br>
                            Type: {{ org.type }}<br>
                            Address: {{ org.address }}<br>
                            Total Trash: {{ org.total_trash }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No information found? <a href="/createinformation" onclick="redirectToCreate()">Add it!</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
