{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <h2>Join the PickUp3 Movement!</h2>
        <label for="username">Username <span class="required"> *</span></label>
        <input type="text" id="username" name="username"><br>

        <label for="email">Email <span class="required"> *</span></label>
        <input type="text" id="email" name="email"><br>

        <label for="first_name">First Name <span class="required"> *</span></label>
        <input type="text" id="first_name" name="first_name"><br>

        <label for="last_name">Last Name <span class="required"> *</span></label>
        <input type="text" id="last_name" name="last_name"><br>

        <label for="password">Password <span class="required"> *</span></label>
        <input type="password" id="password" name="password"><br>

        <label for="account_type">Account Type <span class="required"> *</span></label>
        <select name="account_type" id="account_type" onchange="toggleVisibility()">
            <option value="individual">Individual</option>
            <option value="company">Company</option>
            <option value="school">School</option>
            <option value="volunteer">Volunteer Organization</option>
        </select>

        <div id="organization_name_field" style="display: none;">
            <label id="organization_label" for="organization_id">Name of your School/Organization/Company <span class="required"> *</span></label>
            <select id="organization_id" name="organization_id">
                <option value="">Select an option</option>
                {% for org in organizations %}
                    <option value="{{ org.id }}" data-type="{{ org.type }}">{{ org.name }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" value="Sign Up">
    </form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
