<!-- signup.html -->
{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <h2>Join the PickUp3 Movement!</h2>
        <label for="username">Username <span class="required">*</span></label>
        <input type="text" id="username" name="username"><br>

        <label for="email">Email <span class="required">*</span></label>
        <input type="text" id="email" name="email"><br>

        <label for="first_name">First Name <span class="required">*</span></label>
        <input type="text" id="first_name" name="first_name"><br>

        <label for="last_name">Last Name <span class="required">*</span></label>
        <input type="text" id="last_name" name="last_name"><br>

        <label for="password">Password <span class="required">*</span></label>
        <input type="password" id="password" name="password"><br>

        <label for="account_type">Account Type <span class="required">*</span></label>
        <select name="account_type" id="account_type">
            <option value="individual">School</option>
            <option value="company">Company</option>
            <option value="school">School</option>
            <option value="volenteer">Volenteer Organization</option>
        </select><br>

        <label for="positon">Positon:</label>
        <input type="radio" id="pos1" name="position" value="position 1">
        <label for="html">Position 1</label><br>
        <input type="radio" id="pos2" name="position" value="position 2">
        <label for="pos2">Position 2</label><br>
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}
