{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trash Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/webpage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <h1 style="color: white; background: #3B5998;">Current trash count: {{ total_trash }}</h1>
        <div class="counter">
             <div class="trash-can">
            <div class="progress-bars">
                {% set height_percentage = (total_trash / 100) %}
                {% if total_trash >= 6100 %}
                    {% set height_percentage = 62 %}
                {% endif %}
                    <div class="progress" style="height: {{ height_percentage }}%;"></div>
                    <div class="progress" style="height: {{ height_percentage }}%;"></div>
                    <div class="progress" style="height: {{ height_percentage }}%;"></div>
            </div>
        </div>
            <h2 style="color: white; background: #5b81f3;">You have picked up in total: {{ user.trash_collected }}</h2>
            <h2 style="color: white; background: #759df6;">You have {{ user.unallocated_trash }} unallocated and have donated {{ user.trash_collected - user.unallocated_trash }}! </h2>
            <a href="{{ url_for('allocate_trash') }}">
                <button type="button">Donate to an Organization!</button>
            </a>
        </div>
    </div>

    <div class="container">
        <form action="/update" method="post">
            <label for="beach">Select a beach:</label>
            <select id="beach" name="beach">
                <option value="Ferry Causeway Beach, Tsawwassen">Ferry Causeway Beach, Tsawwassen</option>
                <option value="Beach Grove">Beach Grove</option>
                <option value="Jericho Beach">Jericho Beach</option>
                <option value="Fred Gingell Park">Fred Gingell Park</option>
                <option value="Horseshoe Bay Beach">Horseshoe Bay Beach</option>

            </select>
            <label for="picked_up">Enter amount of trash picked up:</label>
            <input type="number" id="picked_up" name="picked_up" min="0" max="500" required>
            <button type="submit">Update Counter</button>
        </form>
        <br>
        <h1 style="color: black">Thank you for your contribution!</h1>
        <br>
        <h2 style="color: black">Trash Collection History</h2>
        <table>
            <thead>
                <tr>
                    <th>Date     </th>
                    <th>Trash Picked Up     </th>
                    <th>Beach</th>
                </tr>
            </thead>
            <tbody>
                {% for record in history %}
                <tr>
                    <td>{{ record.date }}</td>
                    <td>{{ record.picked_up }}</td>
                    <td>{{ record.beach }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/pickup3canada" class="fa fa-facebook"></a>
            <a href="https://twitter.com/PickUP3Canada" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/pickup3canada/" class="fa fa-instagram"></a>
        </div>
    </footer>
</body>
</html>

{% endblock %}
